<h2>salom</h2> <br>
<h4>malumotlarni to'ggri kiriting</h4>

<form method="POST"  style="color: antiquewhite; background-color: aqua;">
<input type="text " placeholder="telefon nomini kiriting" name="tel_nom"><br><hr>
<input type="number" placeholder="telefon xotirasi?" name="xotira"><br><hr>
<input type="number" placeholder="ishlab chiqarilgan yili" name="yil"> <br><hr>
<input type="text" placeholder="rangi" name="rangi"><br><hr>
<input type="text" placeholder="qoshimcha malumot" name="malumot"><br><hr>
<input type="number" placeholder="narxi" name="narxi"><br><hr>

<button type="submit">saqlash</button>






</form>


<hr><br>
<a href="{{url_for('home')}}">bosh menuga qaytish</a>